<% @gigs.each do |gig| %>
            <div class="column is-one-third">
              <div class="card">
                <div class="card-image">
                  <%= link_to edit_gig_path(gig) do %>
                    <figure class="image is-4by3">
                      <!-- Gig Cover Image Here -->
                      <%= image_tag gig_cover(gig) %>
                    </figure>
                  <% end %>
                </div>
                <div class="card-content p-t-5 p-b-5">
                  <p class="subtitle is-6 m-b-5"><%= link_to gig.title, gig_path(gig) %></p>
                  <span class="star-review"><i class="fa fa-star"></i>
                    <%= gig.average_rating %> <span class="has-text-primary">(<%= gig.reviews.count %>)</span>
                  </span>
                </div>
                <footer class="card-footer">
                  <% basic_price = gig.pricings.find{ |p| p.pricing_type == 'basic'} %>
                  <a class="has-text-danger is-block card-footer-item has-text-right">
                    <% if !basic_price.nil? %>
                      <span class="small-title">STARTING AT</span>
                      <strong>$<%= basic_price.price %></strong>
                    <% end %>
                  </a>
                </footer>
              </div>
            </div>
          <% end %>