<!DOCTYPE html>
<html>
  <head>
    <title>Africalancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
=======
    <%= render '/shared/navbar'%>
>>>>>>> 4d3f1b4fb21e2d36dbfab3117a0d89ef7f0184c2
    <%= yield %>
  </body>
</html>
